@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@using VideogameShopLibrary.CVS_Models
@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered " id="dataTable">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Platform</th>
            <th>Available Units</th>
            <th>Cost</th>
            <th>Price</th>
            <th>Condition</th>
            <th>Type</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr class="productRows">
                @*starting at one to not show the id column*@

                <td>@Model[i].GameTitle</td>
                <td>@Model[i].Category</td>
                <td>@Model[i].Platform</td>
                <td class="productQty">@Model[i].AvailableUnits</td>
                <td>@Model[i].Cost</td>
                <td>@Model[i].Price</td>
                <td>@Model[i].Condition</td>
                <td>@Model[i].ProductType</td>

                <td>
                    <a href="@Url.Action("Edit", "Product", new { id = Model[i].productId })">Edit </a>
                    <span>|</span>
                    <a href="@Url.Action("CreateFromProduct", "Order", new { id = Model[i].productId })">Purchase </a>
                </td>
            </tr>
        }
    </tbody>

</table>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    @using (Html.BeginForm("Upload", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="input-group w-50 mb-2">

            <div class="custom-file">
                <label for="file" class="custom-file-label">Upload File:</label>
                <input type="file" name="file" id="file" class="custom-file-input" />
            </div>

            <div class="input-group-append">
                <input type="submit" value="Upload" class="input-group-text" />
            </div>

        </div>

    }
}
<div class="input-group mb-2">
    <a class="btn btn-success" href="@Url.Action("Create", "Product")">Add a New Product</a>
</div>



<script src="~/js/productChecker.js" asp-append-version="true"></script>
<hr />
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        }
    </script>

}

