@using VideogameShopLibrary.CVS_Models
@using Microsoft.AspNetCore.Http
@section Styles {
    <link href="@Url.Content("~/css/orders.css")" rel="stylesheet" type="text/css" />
}
@model List<Order>
@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm())
{
    <table class="table table-bordered" style="max-width:500px">
        <thead>
            <tr>
                <th colspan="2">Filter Criteria </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color:lightgrey">From Date:</td>
                <td class=" d-flex align-content-center" style="background-color:lightgrey">@Html.TextBox("fromDate", null, new { type = "date" })</td>
            </tr>
            <tr>
                <td>To Date:</td>
                <td class=" d-flex align-content-center">@Html.TextBox("toDate", null, new { type = "date" })</td>
            </tr>
        </tbody>
    </table>
    <input class="btn btn-success" type="submit" />
}


<table class="table table-bordered table-striped table-hover" id="dataTable">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Condition</th>
            <th>Date</th>
            <th>Total</th>
            <th>Customer Name</th>
            <th>Customer Phone</th>
            <th>Email</th>
            <th>Type of Sale</th>
            <th>Credit Card Name</th>
            <th>Credit Card Number</th>
            <th>Expiration Date</th>
            <th>Cvv</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].Product </td>
                <td>@Model[i].Quantity</td>
                <td>@Model[i].Condition</td>
                <td>@Model[i].Date.ToString("dd-MM-yyyy")</td>
                <td>@Model[i].Total.ToString("C2")</td>
                <td>@Model[i].CustomerName</td>
                <td>@Model[i].CustomerPhoneNumber</td>
                <td>@Model[i].Email</td>
                <td>@Model[i].SaleType</td>
                <td>@Model[i].CreditCardName</td>
                <td>@Model[i].CreditCardNumber</td>
                <td>@Model[i].ExpirationDate.ToString("MM-yy")</td>
                <td>@Model[i].SecurityCode</td>

            </tr>
        }
    </tbody>
</table>
@if (Context.Session.GetString("Role") == "admin")
{
    @using (Html.BeginForm("Upload", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="input-group w-50 mb-2">

            <div class="custom-file">
                <label for="file" class="custom-file-label" id="fileLabel">Upload File:</label>
                <input type="file" name="file" id="fileInput" onchange="displayName()" class="custom-file-input" />
            </div>

            <div class="input-group-append">
                <input type="submit" value="Upload" class="input-group-text" />
            </div>

        </div>

    }
}
<a type="button" class="btn btn-success" href="@Url.Action("Create","Order")">Add a new order</a>

<hr />
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message")
    }
    </script>

}






