@using VideogameShopLibrary.CVS_Models
@model List<Order>
@{
    ViewData["Title"] = "Index";
}
@using (Html.BeginForm())
{
    <table class="table table-borderless">
        <tr class="row">Filter Criteria</tr>
        <tr class="row">
            <td class="col-2">From Date:</td>
            <td class="col-4">@Html.TextBox("fromDate", null, new { type = "date" })</td>
        </tr>
        <tr class="row">
            <td class="col-2">To Date:</td>
            <td class="col-2">@Html.TextBox("toDate", null, new { type = "date" })</td>
        </tr>
        <tr>
            <td class="row"><input type="submit" /></td>
        </tr>
    </table>
}


<table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Condition</th>
            <th>Date</th>
            <th>Total</th>
            <th>Customer Name</th>
            <th>Customer Phone</th>
            <th>Email</th>
            <th>Type of Sale</th>
            <th>Credit Card Name</th>
            <th>Credit Card Number</th>
            <th>Expiration Date</th>
            <th>Cvv</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].Product </td>
                <td>@Model[i].Quantity</td>
                <td>@Model[i].Condition</td>
                <td style="display:inline-block">@Model[i].Date.ToString("dd-MM-yyyy")</td>
                <td>@Model[i].Total</td>
                <td>@Model[i].CustomerName</td>
                <td>@Model[i].CustomerPhone</td>
                <td>@Model[i].Email</td>
                <td>@Model[i].SaleType</td>
                <td>@Model[i].CreditCardName</td>
                <td>@Model[i].CreditCardNumber</td>
                <td>@Model[i].ExpirationDate.ToString("MM-yy")</td>
                <td>@Model[i].SecurityCode</td>

            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-info" href="@Url.Action("Upload","Order")">Update Sales from File</button>
<a href="@Url.Action("Create","Order")">Add a new order</a>

<hr />
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message")
    }
    </script>

}






